body {
    background: #dddddd;
    text-align: center;
	padding: 10px;
    margin: 10px;
	font-family: 'Montserrat', sans-serif;
    
}
main{
    
}

h1{
    font-size: 60px;
    font-weight: bold;
}

p{
    font-size: 20px;
}


input {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    width: 40%;
	padding: 15px 0;
	background-color: rgb(121, 179, 197);
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
    
}
